name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12' #Specify the version of python

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt #Make sure to have this file

      - name: Run tests
        run: |
          pytest #Or any other command to execute your tests

      - name: Login to Docker Hub
        env:
          DOCKER_PASSWORD: ${{ secrets.KEY_1998IXE7 }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        run: echo "${{ secrets.KEY_1998IXE7 }}" | docker login -u ${{ secrets.TPJ237 }} --password-stdin

      - name: Push image to Docker Hub
        run: |
          docker tag ${{ github.repository }}:${{ github.sha }} ${{ secrets.TPJ237 }}/${{ github.repository }}:${{ github.sha }}
          docker push ${{ secrets.TPJ237 }}/${{ github.repository }}:${{ github.sha }}
